*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*layout-clearfix*/

.layout{
    width: 1280px;
    margin: 20px 200px 20px 200px;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*nav-bar*/

nav li {
    display: inline-block;
}

.top-ul-left{
    float: left;
}

.top-ul-right{
    float: right;
}

.logo{
    float:left
}

.nav-bar-bottom ul{
    float: right;
}

/*background*/

.bg-skyblue{
    background: skyblue;
}


/*hero-content*/


.bg-jumbotron{
    background-image: url(hubspot-img\jumbotron.png);
    background-size: contain;
}

.height-80{
    height: 80px;
}


.container-hero{
    width: 30%;
    margin: 40px 0 70px 0;
}

.image-hubspot img{
    width: 250px;  
}

.text-hubspot p{
    margin:25px 0 40px 0;  
}


/*section-1 Free hubspot CRM*/

.border-bg-hubspot{
    background: rgb(225, 184, 190);
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 40px;
}

.crm-illustrator{
    width: 30%;
    float:left
}

.popolar-feature{
    width: 70%;
    float: left;
}

.crm-illustrator img{
    width: 150px;
}

/*section-2 column marketing,sales,services
 n.2 column*/

.mrg-hub{
    margin: 30px 0 30px 0;

}

.col-hub-1{
    width: 403.3px;
    background: lightblue;
    float: left;
}

.col-hub-2{
    width: 403.3px;
    background: lightblue;
    float:left;
    margin: 0 35px 0 35px;
}

.col-hub-3{
    width: 403.3px;
    background: lightblue;
    float:right;
}

.row-hub-1{
    width: 70%;
    border-bottom: 2.5px solid grey;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.row-hub-1 p{
    margin-bottom: 45px;
}

.row-hub-1 > h3{
    text-align: center;
}

/*row-hub 2*/

.row-hub-2{
    width: 90%;
    margin: auto;
    text-align: center;
}  

.row-hub-2 h4{
    text-align: center;
    margin: 20px 0 15px 0;
}  

ul{
    list-style-type: ;
    margin-left: 50px;
}

.row-hub-2 button{
    text-align: center;
    margin:30px 0 15px 0;
}  

/*grow-award-winning
n.4 column-grow and n.2 row-grow*/

/*column-grow*/

.title-grow{
    margin: 35px 0 35px 0;
}

.col-grow-1{
    width: 25%;
    height: 400px;
    background: red;
    float: left;
    border-right: 2px solid white;
}

.col-grow-2{
    width: 25%;
    height: 400px;
    background: red;
    float: left;
    border-right: 2px solid white;
}

.col-grow-3{
    width: 25%;
    height: 400px;
    background: red;
    float: left;
    border-right: 2px solid white;
}

.col-grow-4{
    width: 25%;
    height: 400px;
    background: red;
    float: left;
}