*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*layout-clearfix*/

.layout{
    width: 1280px;
    margin: 20px 200px 20px 200px;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both; 
}

/*nav-bar*/

nav li {
    display: inline-block;
}

.top-ul-left{
    float: left;
}

.top-ul-right{
    float: right;
}

.logo{
    float:left
}

.nav-bar-bottom ul{
    float: right;
}

/*background*/

.bg-skyblue{
    background: skyblue;
}

.bg-jumbotron{
    background-image: url(hubspot-img\jumbotron.png);
    background-size: contain;
}

/*dimension-size*/

.height-80{
    height: 80px;
}


.container-hero{
    width: 30%;
    margin: 40px 0 70px 0;
}

.image-hubspot img{
    width: 250px;  
}

.text-hubspot p{
    margin:25px 0 40px 0;  
}


/*section Free hubspot CRM*/

.container-section{
    margin: auto;
    background: rgb(247, 214, 219);
    padding: 50px;
    border:1px solid lightgrey;
    border-radius: 5px;
    margin: 0 300px 30px 300px;
}

.crm-illustrator{
}

.crm-illustrator img{
    width: 150px;
    float: left;
}

.popolar-feature{
    
}

/*section 3 column marketing,sales,services*/